.navbar {
  min-height: 80px;
  font-size: 1.1rem;

  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: -4px;
  }
}

.navbar-nav {
  align-items: flex-end;
  padding-bottom: 10px;
}
